<section class="section advantages">
  <div class="container">
    <div class="row advantages__row">
      <div class="col-lg-10 offset-lg-1">
        <div class="advantages__list row">
          <div class="col-lg-4">
            <div class="advantages__item advantages__item_first">
              <svg class="advantages__icon" width="110" height="114">
                <use xlink:href="assets/img/sprite.svg#icon-home"></use>
              </svg>
              <p class="advantages__caption">Наша миссия</p>
              <p class="advantages__description">создавать эффективные инвестиционные решения, обеспечивая широкий круг
                инвесторов финансовыми услугами наивысшего качества</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="advantages__item">
              <svg class="advantages__icon" width="110" height="114">
                <use xlink:href="assets/img/sprite.svg#icon-people"></use>
              </svg>
              <p class="advantages__caption">Наша главная ценность</p>
              <p class="advantages__description">доверие клиентов</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="advantages__item advantages__item_last">
              <svg class="advantages__icon" width="110" height="114">
                <use xlink:href="assets/img/sprite.svg#icon-certificate"></use>
              </svg>
              <p class="advantages__caption">Наши основные принципы</p>
              <p class="advantages__description">профессионализм и стремление к лидерству, деловая репутация и
                устойчивый
                рост компании</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
