<footer class="footer">
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-3">
        <ul class="footer__nav">
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Документы</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Бухгалтерская отчетность</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Сообщения Управляющей Компании</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer__nav">
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Расчёт размера собственных средств</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Электронный документооборот</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Сообщение об обнаружении <span>(выявлении) неточных, неполных и (или) недостоверных сведений в раскрываемой информации</span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-1 d-none d-lg-block">
        <div class="footer__line"></div>
      </div>
      <div class="col-md-6 col-lg-5">
        <p class="footer__title">ООО УК «КЛ-ИНВЕСТ»</p>
        <p class="footer__caption">- управление финансовыми ресурсами</p>
        <p class="footer__subtitle">Услуги для тех, кто заинтересован в результате!</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <hr class="footer__hr">
      </div>
      <div class="col-lg-3 col-sm-6 order-1 order-lg-0">
        <p class="footer__copyright">&copy; ООО УК «КЛ-ИНВЕСТ», 2023</p>
      </div>
      <div class="col-lg-3 col-sm-6 order-1 order-lg-0">
        <div class="footer__dev">
          <span>Разработка</span>
          <svg width="75" height="35">
            <use xlink:href="assets/img/sprite.svg#logo-dt"></use>
          </svg>
        </div>
      </div>
      <div class="col-lg-5 col-12 offset-lg-1">
        <div class="footer__call">
          <p class="footer__callback">остались вопросы? звоните</p>
          <a href="tel:+74993507715" class="footer__phone"><span>+7 (499)</span> 350-77-15</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="js-stop-header"></div>
<div class="footer__info">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button class="btn-reset footer__info-link" data-toggle="modal" data-target="#exampleModal">Рекомендации по защите информации</button>
        <p>Общество с ограниченной ответственностью Управляющая компания «КЛ-ИНВЕСТ» (сокращенное: ООО УК
          «КЛ-ИНВЕСТ»).</p>
        <p>Свидетельство о государственной регистрации 77 № 017609502 от 13.12.2016 г. Межрайонной Инспекцией
          Федеральной налоговой службы № 46 по г. Москве (ОГРН 5167746441660, ИНН 7703420989).</p>
        <p>Лицензия на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными
          фондами и негосударственными пенсионными фондами № 21-000-1-01004 выдана Центральным Банком Российской
          Федерации 23.05.2017 года. Срок действия: бессрочно.</p>
        <p>Деятельность по доверительному управлению паевыми инвестиционными фондами не совмещается с деятельностью по
          управлению ценными бумагами.</p>
        <p>Получить подробную информацию о деятельности управляющей компании и об особенностях инвестирования в паевые
          инвестиционные фонды, а также иную информация, подлежащую раскрытию или предоставлению в соответствии с
          Федеральным законом от 29.11.2001 № 156-ФЗ «Об инвестиционных фондах», можно по адресу управляющей компании
          ООО УК «КЛ-ИНВЕСТ»: 123112, г. Москва, Пресненская наб., д. 6, стр. 2, этаж 45, помещение 4524, по телефону: 8
          (499) 350-77-15, либо на сайте в сети Интернет по адресу: http://www.kl-invest.ru/.</p>
        <p>Инвестиционные паи паевых инвестиционных фондов, находящихся под управлением ООО УК «КЛ-ИНВЕСТ»,
          предназначены исключительно для квалифицированных инвесторов.</p>
        <p>ОБРАЩАЕМ ВНИМАНИЕ, ЧТО СТОИМОСТЬ ИНВЕСТИЦИОННЫХ ПАЕВ МОЖЕТ УВЕЛИЧИВАТЬСЯ И УМЕНЬШАТЬСЯ, РЕЗУЛЬТАТЫ
          ИНВЕСТИРОВАНИЯ В ПРОШЛОМ НЕ ОПРЕДЕЛЯЮТ ДОХОДЫ В БУДУЩЕМ, ГОСУДАРСТВО НЕ ГАРАНТИРУЕТ ДОХОДНОСТЬ ИНВЕСТИЦИЙ В
          ПАЕВЫЕ ИНВЕСТИЦИОННЫЕ ФОНДЫ.</p>
        <p>ПРЕЖДЕ ЧЕМ ПРИОБРЕСТИ ИНВЕСТИЦИОННЫЙ ПАЙ, СЛЕДУЕТ ВНИМАТЕЛЬНО ОЗНАКОМИТЬСЯ С ПРАВИЛАМИ ДОВЕРИТЕЛЬНОГО
          УПРАВЛЕНИЯ ПАЕВЫМ ИНВЕСТИЦИОННЫМ ФОНДОМ.</p>

      </div>
    </div>
  </div>
</div>
