<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="title-h2">Рекомендации по защите информации</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center"><b><i> Рекомендации по защите информации, информация о возможных рисках несанкционированного доступа к защищаемой
          информации, а также информация о мерах по предотвращению несанкционированного доступа к защищаемой
          информации</i></b></p>
        <p> В целях защиты информации от воздействия программных кодов, приводящего к нарушению штатного
          функционирования устройств и оборудования, а также в рамках информирования о мерах по предотвращению
          несанкционированного доступа к защищаемой информации, в том числе при утрате (потере, хищении) клиентом (у
          клиента) устройства, посредством которого им совершались действия в целях осуществления финансовой операции
          (далее – устройство), контролю конфигурации устройства, с использованием которого клиентом совершаются
          действия в целях осуществления финансовой операции, и своевременному обнаружению воздействия вредоносного
          кода, ООО УК «КЛ-ИНВЕСТ» (далее – Управляющая компания) <b>настоятельно рекомендует:</b></p>
        <ul>
          <li>При использовании веб-сайта убедитесь в наличии символа замка в правом нижнем углу веб-страницы (либо в
            адресной строке, в зависимости от используемого браузера). Символ замка на веб-странице указывает на то, что
            веб-сайт работает в защищенном режиме.
          </li>
          <li>Установите актуальное приложение для защиты Ваших персональных устройств (РС, планшет, мобильное
            устройство), которое проверит Ваш трафик, защитит от вирусов и шпионских программ Ваши приложения. Такие
            антивирусные программы предназначены для блокировки опасных сайтов, которые могут содержать вредоносный код
            и устанавливать вредоносное ПО на Вашем устройстве. Своевременно обновляйте установленное антивирусное
            приложение. Также рекомендуем использовать антивирусные приложения проверенных и положительно
            зарекомендовавших себя производителей.
          </li>
          <li>Используйте на устройстве только лицензионное ПО, не устанавливайте ПО, полученное из сомнительных
            источников.
          </li>
          <li>Не открывайте вложения в почтовые письма, полученные от неизвестных Вам отправителей. Если отправитель
            Вам известен – в любом случае рекомендуется проверить полученный файл антивирусной системой.
          </li>
          <li>Не посещайте сайты сомнительного содержания.</li>
          <li>Не проводите конфиденциальные транзакции с использованием недоверенного общедоступного Wi-Fi.</li>
          <li>Оформите отдельную сим-карту для работы с мобильным банком и никому не сообщайте в публичном пространстве
            этот мобильный номер. Современные устройства связи поддерживают несколько сим-карт одновременно.
          </li>
          <li>Вы вправе написать заявление в салоне сотовой связи, запрещающее перевыпуск сим-карты без Вашего личного
            участия. При этом, Вы можете указать строго определенное отделение, в котором можно лично получить
            сим-карту.
          </li>
          <li>Никогда и никому не сообщайте свои конфиденциальные данные, в том числе, но не ограничиваясь, логины,
            пароли, коды, ПИН-коды, CVV/ CVC-коды, данные электронной подписи и пр. Сотрудники Управляющей компании
            никогда не требуют указанную информацию.
          </li>
          <li>Внимательно следите за смс о блокировке сим-карт или перевыпуске.</li>
          <li>В случае сомнений перезванивайте лично в Управляющую компанию или банки по номеру, который указан на
            официальном сайте или на обратной стороне Вашей банковской карты (для банков). Игнорируйте сообщения о
            необходимости перезвонить в Управляющую компанию или банк по указанному в сообщении номеру. Так как
            существуют мошеннические сервисы подмены номеров, звоните в Управляющую компанию или банк самостоятельно.
          </li>
          <li>Не выкладывайте фотографии и сканы Ваших документов в соцсети (например, паспорт, электронные билеты,
            чеки за оказанные услуги и т.п.): дополнительная информация только помогает мошенникам.
          </li>
          <li>Будьте особенно бдительны и осторожны, если люди, представляющиеся сотрудниками Управляющей компании и
            (или) банков требуют от Вас каких-либо быстрых действий, пытаются напугать, т.к. это распространенные приемы
            мошенников.
          </li>
          <li>Не передавайте Ваш мобильный телефон и (или) другие устройства третьим лицам, т.к. они могут установить
            на него ПО, содержащее вредоносный код, а в случае кражи или утраты злоумышленники могут воспользоваться
            Вашим устройством для совершения противоправных / мошеннических действий. В связи с этим при утрате, краже
            мобильного устройства максимально оперативно заблокируйте сим-карту.
          </li>
        </ul>
        <p>Управляющая компания информирует о следующих возможных рисках несанкционированного доступа к защищаемой
          информации с целью осуществления финансовых операций лицами, не обладающими правом их осуществления:</p>
        <ul>
          <li>риски разглашения конфиденциальной информации, персональных данных (например, информации об активах,
            персональной информации и пр.);
          </li>
          <li>совершение финансовых операций с активами клиента третьими лицами, не обладающими правом их
            осуществления, а также совершение ими иных действий (например, внесение изменений в регистрационные данные
            клиента, изменение параметров услуг и пр.);
          </li>
          <li>вредоносное воздействие на устройства и оборудование.</li>
        </ul>
        <b>При любом подозрении на мошенничество незамедлительно обратитесь в Управляющую компанию!</b>
      </div>

    </div>
  </div>
</div>
