.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  backdrop-filter: blur(20px);
  @include r(768) {
    height: 80px;
  }
  @include r(480) {
    height: 60px;
  }
  //&.is-fixed {
  //  position: fixed;
  //}
  &__logo {
    svg {
      max-width: 250px;
    }
  }
  &__phone {
    display: block;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: $orange;
    @include r(1280) {
      font-size: 16px;
    }
    @include r(1024) {
      font-size: 20px;
    }
    @include r(576) {
      font-size: 16px;
    }
    span {
      color: $green;
    }
    &:hover {
      color: $orange;
    }
    &_nav {
      display: none;
      @include r(1024) {
        display: block;
      }
    }
  }
}

.nav {
  @include r(1024) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 30px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 4px 120px rgba(35, 44, 58, 0.10);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    &.is-open {
      transform: translateX(0);
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include r(1280) {
      justify-content: space-around;
    }
    @include r(1024) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px 0;
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: color $trns;
    height: 100px;
    @include r(1280) {
      font-size: 12px;
    }
    @include r(1024) {
      display: block;
      font-size: 16px;
      height: auto;
    }

    &.is-active > a::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 40px;
      height: 3px;
      background: linear-gradient(90deg, #F27B05 0%, rgba(242, 123, 5, 0.00) 100%);
    }
    &:hover {
      color: $orange;
      & > .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    &_sub {
      position: relative;
      @include r(1024) {
        & > a {
          width: max-content;
          &::after {
            content: '';
            position: absolute;
            top: 1px;
            right: -20px;
            width: 11px;
            height: 19px;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.17972 18.624L10.7212 10.2018C10.8226 10.1016 10.8945 9.99296 10.9371 9.87599C10.9797 9.75902 11.0007 9.63369 11 9.5C11 9.36631 10.979 9.24098 10.9371 9.12401C10.8952 9.00704 10.8232 8.89842 10.7212 8.79815L2.17972 0.350923C1.94316 0.116974 1.64746 0 1.29262 0C0.937786 0 0.633639 0.12533 0.380184 0.375989C0.126728 0.626649 0 0.919085 0 1.2533C0 1.58751 0.126728 1.87995 0.380184 2.13061L7.83179 9.5L0.380184 16.8694C0.143625 17.1033 0.0253448 17.3918 0.0253448 17.7347C0.0253448 18.0776 0.152073 18.374 0.405529 18.624C0.658985 18.8747 0.954683 19 1.29262 19C1.63057 19 1.92626 18.8747 2.17972 18.624Z' fill='%23FD7E14'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            transform: rotate(0);
            transition: transform $trns;
          }
          &.collapsed::after {
            transform: rotate(90deg);
          }
        }

      }
    }
  }
  &__link {
    position: relative;
    display: block;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    justify-content: flex-end;

    svg {
      flex: 0 0 auto;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 18px;
  margin: 0 auto;
  @include r(768) {
    margin-left: auto;
    margin-right: 0;
  }
  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: width .3s ease-in-out;
  }
  &.is-active {
    span:nth-child(2) {
      width: 70%;
    }
    span:nth-child(3) {
      width: 50%;
    }
  }
}

.sub-menu {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(35, 44, 58, 0.10);
  backdrop-filter: blur(10px);
  width: 360px;
  color: #4B5457;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: all .5s ease-in-out, opacity .25s ease-in-out;
  @include r(1024) {
    margin: 20px;
    position: relative;
    top: 0;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }
  &__item {
    transition: color $trns;
    &:hover {
      color: $orange;
    }
  }
}
